.header-info{
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    text-align: end;
    display: flex;
    align-items: center;

}


.header-info ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;  
    padding: 10px;
}

.header-info p {
    margin: 0;
}

.logotitle img {
    width: 90px;
    margin-top: 13px;
  }