/* .header-info{
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    text-align: end;
}

.header-info ul{
    display: flex;
    justify-content: flex-end;
    gap: 20px;  
    padding: 10px;
}

.header-info p {
    margin: 0;
} */