/* HOME PAGE */
.hero {
    position: relative;
    height: 100vh; /* Full viewport height */
     background: url('images/exterior-machine.jpeg') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 70px;
}
.hero-content {
    position: relative;
    z-index: 2;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* Black overlay with 50% opacity */
     z-index: 1;
}
.hero h1 {
    font-size: 10em;
    margin: 10px 0;
}
.hero p {
    font-size: 3em;
    margin: 10px 0;
}
.cta-button {
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--orange-color);
    border-radius: 7px;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
    transition: background-color 0.3s, border-color 0.3s;
    
}
.cta-button:hover {
    background-color: goldenrod;
}

.featured-services div{
    margin-bottom: 10px;
} 

/* Customer Reviews */
 #customer-reviews{
    padding: 2em;
    background-color: #fff;
}

#customer-reviews h2{
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.review-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    padding: 1em;
}

.review {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review p {
    font-style: italic;
    color: #555;
}

.review h4 {
    margin-top: 10px;
    color: #333;
} 

/* Special Offers */

.special-header {
    color: #fff;
    font-size: 2em;
}

.special-offers-container {
    color: #fff;
    border-radius: 4px;
    padding: 10px;
}