button {
    color: #fff;
    border: none;
    padding: 10px 10px;
    max-width: fit-content;
    text-align: center;
    background-color: var(--button-background-color);
    border: 2px solid var(--button-border-color);
    border-radius: 7px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
        
}