
@property --feature-service-background-color{
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(72, 71, 71);
}

@property --nav-background-color{
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(54, 53, 53);
}

@property --button-background-color{
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(93, 92, 92);
}

@property --button-border-color{
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(191, 137, 11);
}

@property --logo-color{
  syntax: "<color>";
  inherits: false;
  initial-value: rgb(191,137,11);
}

/* responsive based on screen size */
@media (max-width: 600px) {
  .navbar {
      font-size: 0.8em;
  }
  .service-box {
      grid-template-columns: 1fr;
  }
}

:root{
  --orange-color: #DC883E;
  --background-col: #242122;
}

body{
  background-color: var(--background-col);
  font-size: 16px;
}

/* General */
section {
  padding: 1em;
  background-color: white;
}