:root {
    --orange-color: #DC883E;
    --background-col: #242122;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-col);
}

#navbar-placeholder {
    /* Add styles for navbar if needed */
    align-self: flex-start;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin-top: 20px; /* Adjust margin as needed */
}

.form {
    margin-bottom: 20px;
}

.form h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.register {
    text-align: center;
}

.register p {
    font-size: 0.9rem;
}

.register a {
    color: #007bff;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
