main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.signin-container {
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    width: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 20px; /* Adjust margin as needed */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 40px;
}

.form h2 {
    margin-bottom: 25px;
}

.form-control {
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    min-width: 300px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    text-align: center;
    font-size: 1rem;
    padding: 15px 15px;
}

button:hover {
    background-color: #0056b3;
}

.messageDiv{
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}