body, html{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    height: 100%;
}

header{
    background: #33024b;
    color: #fff;
    padding: 1rem 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

nav .logo h1{
    margin: 0;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 1rem;
}

nav ul li a {
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

nav .button{
    background: #ffffff;
    color: #080808;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-icon svg {
    fill: #6c3d74; /* Accent color for the icon */
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.sematic-button{
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: backgroud-color 0.3s ease;
}

.sematic-button:hover{
    background-color: #0056b3;
}

/* home styles */
.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    background: url('images/exterior-machine.webp') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.hero-content {
    position: relative;
    z-index: 2;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1;
}
.hero h1 {
    font-size: 10em;
    margin: 10px 0;
}
.hero p {
    font-size: 3em;
    margin: 10px 0;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #333;
    background-color: gold;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.cta-button:hover {
    background-color: goldenrod;
}

/* About Us */
.column{
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }

  #about{
    padding: 5em;
  }

  .get-to-know{
    text-align: center;
  }