<footer>
    <p class="footer-top">&copy; 2024 RevTech Auto Repair. All rights reserved.</p>
    <div class="footer-links">
        <a href="about/about.html">About Us</a>
        <a href="./services/service.html">Services</a>
        <a href="./contact/contact.html">Contact</a>
    </div>
    <div class="footer-legal">
        <a href="/privacy.html">Privacy Policy</a>
        <a href="/terms.html">Terms of Service</a>
    </div>
    <div class="footer-subscription">
        <input type="email" placeholder="Subscribe to our newsletter">
        <button type="submit">Subscribe</button>
    </div>
    <div class="footer-social">
        <a href="https://facebook.com"><img src="images/facebook-icon.jpeg" alt="Facebook"></a>
        <a href="https://twitter.com"><img src="images/x-icon.png" alt="Twitter"></a>
        <a href="https://instagram.com"><img src="images/instagram-icon.jpeg" alt="Instagram"></a>
    </div>
</footer>