<nav>
    <div class="container">
      <div class="navbar">
        <div class="logotitle">
          <a href="index.html"><img src="images/Logo.png" alt="Logo" /></a>
        </div>
        <ul class="nav-links">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/service.html">Services</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="/loyalty.html">Loyalty Offers</a></li>
          <li id="not-loggedin">
          <a href="signin.html" class="nav-btn">Login</a>
        </li>
        <li id="signup">
          <a href="/signup.html" class="nav-btn">Sign up</a>
        </li>
        <li id="loggedin" style="display: none;">
          <a href="/profile.html"><div id="user-name"></div></a>
        </li>
        <li id="logout" style="display: none;">
          <a href="#" class="nav-btn" id="logout-btn">Logout</a>
        </li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </div>
    </div>
  </nav>